.clearfix {
    clear: both;
}

.reveal.center, .reveal.center .slides, .reveal.center .slides section {
    margin-top: -0.26em;
}

.reveal section img {
    border: 2px solid #fff;
}

.reveal section img.logo_big_left {
    margin: 15px 0px 0px 8em;
}

.reveal section img.logo_big_right {
    margin: 15px 8em 0em 0em;
}


a[rel=license] {
    font-weight: bold;
}

div.postamble {
    color: white;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.8em;
    font-family: sans-serif;
}

div.postamble a {
    color: white;    
}

div.postamble img {
    color: white;
    margin-right: 1em;
    width: 3em;
}

div.preamble {
    color: white;
    background-color: transparent;
    font-size: 12px;
    margin: 1em 1em -1em 1em;
}

div.preamble img.header-left  {
    width: 3em;
    float: left;
    border: none;
    background-color: transparent;
}

div.preamble span.header-left {
    font-size: 2em;
    text-transform: capitalize;
    float: left;
    display: inline-block;
    width: 10em;
    margin-left: 0.4em;
    background-color: transparent;
}

div.preamble img.header-right {
    width: 3em;
    float: right;
    border: none;    
}

div.preamble span.header-right {
    font-size: 2em;
    text-transform: capitalize;
    float: right;
    display: inline-block;
    width: 16em;
    margin-right: 0.4em;
}

div.slide-header img.header-left  {
    width: 0.6em;
    float: left;
    border: none;
}

div.slide-header h3.header-left {
    font-size: 0.6em;
    text-transform: capitalize;
    float: left;
    padding-top: 0.6em;
}

div.slide-header img.header-right {
    width: 0.6em;
    float: right;
    border: none;
}

div.slide-header h3.header-right {
    font-size: 0.6em;
    text-transform: capitalize;
    float: right;
    padding-top: 0.6em;
}

.kojo_screenshot {
    width: 75%;
}

